@font-face {
    // font-family: 'dot';
    // src: url("../../font/PixelMplus10-Regular.ttf");
  }

a:hover {
    text-decoration: none;
}
button:focus {
    outline:0;
}

body {
outline: none;
font-family: "dot";
background-color: #121212;
// overflow-y: scroll;
overflow-x: hidden;
color: #fff;
}

header {
    background-color: #ebebeb;

    .nav-link {
        color: #000;
        &:hover {
            border-bottom: 2px solid blue;
        }
    }

    .logo .navbar-brand {
        text-decoration: none;
        color: #121212;
    }


}

.card {
    background-color: #121212;
    border: solid 3px #fff;
}

.count_btn {
    &:hover {
        text-decoration: none;
        background-color: #007bff;
        color: #fff;
        transition: .2s;
        border-radius: 6px;
    }
}
.btn_active {
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 6px;
}

.btn-l {
    color: #fff;
    border: solid 3px #fff;
    &:hover {
        color: #d1d1d1;
        border-color: #d1d1d1;
    }
}

.timeline {
    .user_name {
        font-size: 1.5rem;
    }
    .post_text{
        font-size: 1.5rem;
        letter-spacing: .1rem;
    }
}

.input_text {
    font-size: 1.6rem;
}

.like_btn {
    background-color: #111;
    border: none;
    font-size: 1.2rem;
    padding: 0;
    &:hover {
        transform: translateY(-2px);
    }
}

.like_num {
    font-size: 1.2rem;
    padding-right: 1rem;
}
.delete_btn {
    border: none;
    &:hover {
        color: #fff;
        background-color: red;
        border: none;
    }
}
.edit_btn {
    border: none;
    &:hover {
        color: #fff;
        background-color: green;
        border: none;
    }
}

.post_btn {
    font-size: 1.1rem;
    padding: 10px 20px;
    border-radius: 3px;
    &:hover {
        opacity: .8;
    }
}

#menu {
    position: absolute;
    top: 0;
    right: -70%;
    height: 100vh;
    width: 500px;
    background-color: #000;
    color: #fff;
    z-index: 2;
    padding-top: 80px;
    transition:  .4s;
    border-left: 2px solid #fff;
    li {
        list-style: none;
        border-bottom: 1px solid #fff;
        a {
            font-size: 1.6rem;
            padding: 10px;
            line-height: 2;
            color: #fff;
        }
    }
}

#hide {
    float: right;
    position: relative;
    top: -50px;
    left: -40px;
}

#cover {
    background-color: #000;
    opacity: .6;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}

body.menu-open{
    overflow-y: hidden;
}
body.menu-open #cover {
    display: block;
}
body.menu-open #menu {
    right: -15%;
}

// div.menu-open {
//     overflow-y: hidden;

// }
// .menu-open #cover {
//     display: block;
// }
// .menu-open #menu {
//     right: -160px;
// }
