
  @font-face {
    font-family: 'dot';
    src: url("../../font/PixelMplus10-Regular.ttf");
  }
  body {
    outline: none;
    font-family: "dot";
    /* background-color: #121212; */
    /* overflow-y: scroll;   */
}