.card {
    background-color: #121212;
    border: solid 3px #fff;
}

.page-title {
    font-family: 'dot_bold';
}

.timeline {
    .user_name {
        font-size: 1.2rem;
    }
    .post_text{
        font-size: 1.7rem;
        letter-spacing: .2rem;
    }
}

.input_text {
    font-size: 1.6rem;
}

.like_num {
    font-size: 1.2rem;
    padding-right: 1rem;
}

.post_count {
    color: #fff;
    font-size: 1.3rem;
    // float: left;
    display: inline;
}
.count_warning {
    color: yellow;
}
.count_danger {
    color: red;
}

.thumb {
    object-fit: cover;
    height: 100px;
    width: 100px;
    border-radius: 5px;
    border: 3px solid #fff;
    background-color: #fff;
}
